<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     
    <form action="/register" method="POST">
    <input type="text"  name="firstname" placeholder="firstame"><br>
    <input type="text"  name="lastname" placeholder="lastname"><br>
    <input type="email"  name="email" placeholder="email"><br>
    <input type="text"  name="phone" minlength="10" placeholder="number"><br>
    <input type="text"  name="age"  placeholder="age"><br>
 <label>
    <input type="radio" name="gender" value="male" checked> <span>male</span>
 </label>
 <label>
    <input type="radio" name="gender" value="female" > <span>female</span>
 </label> <br>
<input type="password" name="password" placeholder="password"> <br>
<input type="confirm password" name="confirmpassword" placeholder="confirm password" >
<br>
<input type="submit" value="Register">


    </form>
</body>
</html>